@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  html{
    font-size:16px;
  }
  @media (prefers-color-scheme: dark) {
    body{
      background:#000000;
    }
  }
  @media (prefers-color-scheme: light) {
    body{
      background:#ffffff;
    }
  }
  body{
    margin:0;
    padding:0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  }
  :root:root{
    --adm-color-primary: #5D61FF;
    --fixed-active-line-width: 9px;
  }
  .text-color-white{
    color:white
  }
  div{
    line-height:1
  }
  p{
    margin: 0;
    padding: 0;
  }
  .color-primary{
    color:var(--theme-color)
  }
}
.adm-tabs-tab.adm-tabs-tab-active{
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}