@import '../common.less';

.go-to-chrome{
  text-decoration: none;
  color: var(--adm-color-primary);
  font-size: 14px;
  margin-right: 6px;
}
.footer-title{
  padding: 10px 0;
  font-size: 14px;
}
.sub-category-title{
  display: block;
  font-size: 14px;
  color: #999999;
  margin:20px 0 15px ;
}