
.top-bar{
  background-color: white;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}
.side{
  width: 100%;
}
.main{
  padding: 0 15px;
}
.list-item{
  display: flex;
  align-items: center;
  color: var(--theme-color);
  text-decoration: none;
  .list-item-logo{
    width: 40px;
    flex: none;
  }
  .list-item-content{
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    width: 0;
    .desc{
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 5px;
      color: #999;
    }
  }
}
.website-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}
.main-title{
  margin: 0;
  padding: 25px 0;
}