.container{
  display: grid;
  height: 100vh;
  grid-template-areas: 
    "header" 
    "content";
  grid-template-rows: 45px 1fr;
}
.header{
  grid-area: header;
}
.content{
  grid-area: content;
  display: grid;
  grid-template-areas: "side main";
  border-top: 1px solid #f9f9f9;
  grid-template-columns: 105px 1fr;
}
.side{
  grid-area: side;
  width: 105px;
  height: calc(100vh - 45px);
  overflow-y: auto;
}
.main{
  grid-area: main;
  padding-left: 10px;
  overflow-y: auto;
  height: calc(100vh - 45px);
}
.list-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .list-item-logo{
    width: 40px;
    flex: none;
  }
  .list-item-content{
    flex: 1;
    padding-left: 10px;
  }
}