.width-70 {
    width: 70%;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.outer-search-container {
    display: block;
    margin: 0 20px;
}

.inner-search-container {
    display: flex;
    flex: 1;
    width: auto;
    margin: 0 auto 20px auto;
    max-width: 736px;
    overflow: hidden;
    height: 35px;
    justify-content:space-between;
}

.inner-search-button {
    height: 33px;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    background-color: #4e6ef2;
}
